@import "../../sass/variables.scss";

.input[type="text"],
.input[type="number"] {
  // font-family: $primary-font;
  // width: 20rem;
  // background-color: $light-pink;
  // height: 2rem;
  // font-size: 1rem;
  // padding-left: 0.5rem;
  padding: 10px 8px;
  width: 95%;
  font-size: 16px;
  background: #323131;
  border: none;
  color: #c7c7c7;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;

  &:hover {
    background: #404040;
  }
  &:focus {
    box-shadow: 0px 0px 0px 1px #ffa6ed;
  }
}

.txtarea {
  padding: 10px 8px;
  width: 95%;
  font-size: 16px;
  background: #323131;
  border: none;
  color: #c7c7c7;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;
  resize: none;
  width: 35rem;

  &:hover {
    background: #404040;
  }
  &:focus {
    box-shadow: 0px 0px 0px 1px #ffa6ed;
  }
}

.input[type="radio"],
.input[type="checkbox"] {
  height: 15px;
  width: 15px;
  display: flex;
}
