@import "./variables.scss";

* {
  font-family: $primary-font;
}

.select-topic {
  font-family: $secondary-font;
}

input[type="select"] {
  width: 300px;
}

.menu {
  height: 10vh;
  color: black;
  background-color: $blue;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-around;

  .container {
    display: flex;
    gap: 1rem;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    label {
      font-size: 1.2rem;
    }

    select {
      font-size: 1.1rem;
      background: white;
      color: black;
      border-radius: 5px;
      border: none;
      width: 10rem;
      height: 2rem;
      box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
      padding-left: 0.5rem;

      option {
        text-transform: capitalize;
      }
    }
  }
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $light-pink;
  margin-top: 5rem;
}
