@import "./variables.scss";

* {
  margin: 0;
  font-family: $primary-font;
}

html {
  background-color: $gray;
}

body {
  // background: $baby-blue-1;
  height: 100vh;
}

nav {
  height: 10vh;
  color: black;
  background-color: $blue;
  display: flex;
  position: sticky;
  align-items: center;
}


