@import "./variables.scss";

* {
  margin: 0;
  font-family: $primary-font;
}

html,
body {
  margin: 0;
  height: 100%;
  // overflow: hidden;
}

nav {
  height: 10vh;
  color: black;
  background-color: $blue;
  display: flex;
  position: sticky;
  align-items: center;
}
