@import "./variables.scss";

.login {
  width: 25vw;
  margin: 40px auto;
  font-family: "Segoe UI", sans-serif;
  padding: 25px 25px;
  background: #151414;
  border-radius: 4px;
  border: 1px solid #302d2d;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  @keyframes popup {
    0% {
      transform: scale(0.2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #e7e7e7;
  }
  .form-group {
    display: block;
    margin-bottom: 20px;
    input {
      padding: 10px 8px;
      width: 95%;
      font-size: 16px;
      background: #323131;
      border: none;
      color: #c7c7c7;
      border-radius: 4px;
      outline: none;
      transition: all 0.2s ease;
    }
    input:hover {
      background: #404040;
    }
    input:focus {
      box-shadow: 0px 0px 0px 1px #ffa6ed;
    }
  }
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #a4a4a4;
  }
  button {
    padding: 10px 18px;
    font-size: 15px;
    background: $dark-pink;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #3f3f3f;
    transition: all 0.2s ease;
    margin-top: 30px;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.8;
  }
  button:focus {
    box-shadow: 0px 0px 0px 3px black;
  }
}
