$primary-font: "Alegreya Sans", sans-serif;
$secondary-font: "Merriweather Sans", sans-serif;

$blue: #2b488e;
$dark-pink: #c76396;
$light-pink: #cba7ae;
$gray: #404040;

$table-gray-1: #fdfdfd;
$table-gray-2: #eeeeee;

$color-white: #fdfdfd;
