$primary-font: "Alegreya Sans", sans-serif;
$secondary-font: "Merriweather Sans", sans-serif;

$blue: #2b488e;
$dark-pink: #c76396;
$light-pink: #cba7ae;
$gray: #404040;

$dark-color: black;
$light-color: #efefef;
$baby-blue-2: #8ac0ff;
$baby-blue-1: #89cff0;

$background-dark: #2a2a2a;
$background-darker: #222;

$background-pink: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.8) 0%,
  rgba(251, 170, 235, 0.8) 100%
);
