@import "../../sass/variables.scss";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 4px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  button {
    justify-self: flex-end;
  }

  backdrop-filter: blur(8px);
}

.hidden {
  visibility: hidden;
}

.modal__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  font-family: $primary-font;
  padding: 2rem;
}
.modal__button-container {
  display: flex;
  gap: 1.5rem;
}
